html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Spartan';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main {
  font-size: 32px;
}

.theme, .bttn-reset, .bttn-del {
  text-transform: uppercase;
}

.bttn-reset, .bttn-del {
  font-size: 18px;
}

.theme {
  font-size: 12px;
}

html[data-theme="one"] .theme-one {
  background-color: #3a4764;
}

html[data-theme="one"] .theme-one main {
  color: #444b5a;
}

html[data-theme="one"] .theme-one header, html[data-theme="one"] .theme-one .output, html[data-theme="one"] .theme-one .bttn-del, html[data-theme="one"] .theme-one .bttn-reset, html[data-theme="one"] .theme-one .bttn-equals {
  color: white;
}

html[data-theme="one"] .theme-one .calc-bttn {
  background-color: #eae3dc;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px 0px #b4a597;
          box-shadow: 0px 5px 0px 0px #b4a597;
}

html[data-theme="one"] .theme-one .calc-bttn:active {
  background-color: #b4a597;
  -webkit-box-shadow: 0px 5px 0px 0px #766556;
          box-shadow: 0px 5px 0px 0px #766556;
}

html[data-theme="one"] .theme-one .bttn-del, html[data-theme="one"] .theme-one .bttn-reset {
  background-color: #637097;
  -webkit-box-shadow: 0px 5px 0px 0px #404e72;
          box-shadow: 0px 5px 0px 0px #404e72;
}

html[data-theme="one"] .theme-one .bttn-del:active, html[data-theme="one"] .theme-one .bttn-reset:active {
  background-color: #404e72;
  -webkit-box-shadow: 0px 5px 0px 0px #35405f;
          box-shadow: 0px 5px 0px 0px #35405f;
}

html[data-theme="one"] .theme-one .bttn-equals {
  background-color: #d03f2f;
  -webkit-box-shadow: 0px 5px 0px 0px #93261a;
          box-shadow: 0px 5px 0px 0px #93261a;
}

html[data-theme="one"] .theme-one .bttn-equals:active {
  background-color: #93261a;
  -webkit-box-shadow: 0px 5px 0px 0px #7e2116;
          box-shadow: 0px 5px 0px 0px #7e2116;
}

html[data-theme="one"] .theme-one .output {
  background-color: #182034;
}

html[data-theme="one"] .theme-one .grid-wrapper {
  background-color: #232c43;
}

html[data-theme="two"] .theme-one {
  background-color: #e6e6e6;
}

html[data-theme="two"] .theme-one main {
  color: #35352c;
}

html[data-theme="two"] .theme-one header, html[data-theme="two"] .theme-one .output, html[data-theme="two"] .theme-one .bttn-del, html[data-theme="two"] .theme-one .bttn-reset, html[data-theme="two"] .theme-one .bttn-equals {
  color: #35352c;
}

html[data-theme="two"] .theme-one .calc-bttn {
  background-color: #e5e4e1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px 0px #a69d91;
          box-shadow: 0px 5px 0px 0px #a69d91;
}

html[data-theme="two"] .theme-one .calc-bttn:active {
  background-color: #a69d91;
  -webkit-box-shadow: 0px 5px 0px 0px #928777;
          box-shadow: 0px 5px 0px 0px #928777;
}

html[data-theme="two"] .theme-one .bttn-del, html[data-theme="two"] .theme-one .bttn-reset {
  background-color: #ca5502;
  -webkit-box-shadow: 0px 5px 0px 0px #893901;
          box-shadow: 0px 5px 0px 0px #893901;
}

html[data-theme="two"] .theme-one .bttn-del:active, html[data-theme="two"] .theme-one .bttn-reset:active {
  background-color: #893901;
  -webkit-box-shadow: 0px 5px 0px 0px #652b01;
          box-shadow: 0px 5px 0px 0px #652b01;
}

html[data-theme="two"] .theme-one .bttn-equals {
  background-color: #377f86;
  -webkit-box-shadow: 0px 5px 0px 0px #1b5f65;
          box-shadow: 0px 5px 0px 0px #1b5f65;
}

html[data-theme="two"] .theme-one .bttn-equals:active {
  background-color: #1b5f65;
  -webkit-box-shadow: 0px 5px 0px 0px #154c51;
          box-shadow: 0px 5px 0px 0px #154c51;
}

html[data-theme="two"] .theme-one .output {
  background-color: #ededed;
}

html[data-theme="two"] .theme-one .grid-wrapper {
  background-color: #d1cccc;
}

html[data-theme="three"] .theme-one {
  background-color: #160628;
}

html[data-theme="three"] .theme-one main {
  color: #ffe53d;
}

html[data-theme="three"] .theme-one header, html[data-theme="three"] .theme-one .output, html[data-theme="three"] .theme-one .bttn-del, html[data-theme="three"] .theme-one .bttn-reset, html[data-theme="three"] .theme-one .bttn-equals {
  color: white;
}

html[data-theme="three"] .theme-one .calc-bttn {
  background-color: #341c4f;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px 0px #871c9c;
          box-shadow: 0px 5px 0px 0px #871c9c;
}

html[data-theme="three"] .theme-one .calc-bttn:active {
  background-color: #871c9c;
  -webkit-box-shadow: 0px 5px 0px 0px #a522bf;
          box-shadow: 0px 5px 0px 0px #a522bf;
}

html[data-theme="three"] .theme-one .bttn-del, html[data-theme="three"] .theme-one .bttn-reset {
  background-color: #58077d;
  -webkit-box-shadow: 0px 5px 0px 0px #bc15f4;
          box-shadow: 0px 5px 0px 0px #bc15f4;
}

html[data-theme="three"] .theme-one .bttn-del:active, html[data-theme="three"] .theme-one .bttn-reset:active {
  background-color: #bc15f4;
  -webkit-box-shadow: 0px 5px 0px 0px #c73cf6;
          box-shadow: 0px 5px 0px 0px #c73cf6;
}

html[data-theme="three"] .theme-one .bttn-equals {
  background-color: #00e0d1;
  -webkit-box-shadow: 0px 5px 0px 0px #6cf9f2;
          box-shadow: 0px 5px 0px 0px #6cf9f2;
}

html[data-theme="three"] .theme-one .bttn-equals:active {
  background-color: #6cf9f2;
  -webkit-box-shadow: 0px 5px 0px 0px #93fbf5;
          box-shadow: 0px 5px 0px 0px #93fbf5;
}

html[data-theme="three"] .theme-one .output {
  background-color: #1d0934;
}

html[data-theme="three"] .theme-one .grid-wrapper {
  background-color: #1d0934;
}

html[data-theme="three"] .dot {
  background-color: #6cf9f2;
}

.calc-bttn {
  cursor: pointer;
}

.numbers {
  width: 60px;
  display: block;
  letter-spacing: 4.4px;
  font-size: 10px;
  text-indent: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #d03f2f;
  border-radius: 50%;
  display: block;
}

.dotTwo {
  left: 19px;
}

.dotThree {
  left: 38px;
}

.dot-box {
  width: 60px;
  background-color: #232c43;
  padding: 3px;
  border-radius: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.app-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.output {
  min-height: 75px;
  width: 100%;
}

.grid-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 14px;
  padding: 20px;
}

.grid-wrapper .bttn-reset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.grid-wrapper .bttn-equals {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.grid-wrapper > * {
  min-height: 60px;
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.themes .theme {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 7px;
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */